body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

.calc{
    font-family: Arial, sans-serif;
    max-width: 400px;
    overflow: hidden;
    background-color: black;
    border-radius: 15px;
}

#btn{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap:10px;
    padding: 25px;
}

#answer{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: black;
    color: white;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: hsl(0, 0%, 10%);
    color: white;
}

button:hover{
    background-color: hsl(0, 0%, 15%);
}

button:active{
    background-color: hsl(0, 0%, 20%);
}

.opera1{
    background-color: hsl(35, 100%, 55%);
}

.opera1:hover{
    background-color: hsl(35, 100%, 65%);
}

.opera1:active{
    background-color: hsl(35, 100%, 75%);
}


.opera2{
    background-color: hsl(0, 0%, 50%);
}

.opera2:hover{
    background-color: hsl(0, 0%, 60%);
}

.opera2:active{
    background-color: hsl(0, 0%, 70%);
}

@media (max-width: 600px) {
    #btn {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 15px;
    }

    button {
        width: 60px;
        height: 60px;
        font-size: 2rem;
    }

    #answer {
        padding: 15px;
        font-size: 3rem;
    }

    .calc {
        max-width: 300px;
        border-radius: 10px;
    }
}